{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}
{% block content %}
    <div class="jumbotron" id="cover"
         style="background-image: url({{ url_for('static', filename='img/silverware-on-table.jpg') }})">
        <div class="container">
            <h2>Hi, {{ current_user.username }} !</h2>
            <p class="site-description indent">
                Look for your neighbor.
                <br>

            </p>
            {% if current_user.is_anonymous %}
                <p class="indent">

                    <a class="btn btn-primary btn-lg btn-homepage btn-font" href="/signup" role="button"><span
                            class="fa fa-user-plus" aria-hidden="true"></span> Sign up</a>
                    <a class="btn btn-primary btn-lg btn-homepage btn-font" href="/login" role="button"><span
                            class="fa fa-sign-in" aria-hidden="true"></span> Login</a>

                </p>
            {% endif %}
        </div><!-- /.container -->
    </div><!-- /.jumbotron -->

    <div class="container" id="main-section">
        <div>
            <ul class="nav nav-tabs" role="tablist">
                {% if current_user.hoodid %}
                <li role="presentation" class="active">
                    <a href="#Hoods" id="hoods-tab" role="tab" data-toggle="tab" aria-controls="hoods"
                       aria-expanded="true">Hood Threads</a>
                </li>
                {% endif %}
                {#                <li role="presentation" class="dropdown">#}
                {#                    <a href="#" id="tab-drop" class="dropdown-toggle" data-toggle="dropdown"#}
                {#                       aria-controls="tab-drop-contents" aria-expanded="false">#}
                {#                        Blocks Threads#}
                {#                        <span class="badge">{{ current_user.num_request() }}</span>#}
                {#                        <span class="caret"></span>#}
                {#                    </a>#}
                {#                    <ul class="dropdown-menu" aria-labelledby="tab-drop" id="tab-drop-contents">#}
                {#                        <li>#}
                {#                            <a href="#Blocks" id="blocks-tab" role="tab"#}
                {#                               data-toggle="tab" aria-controls="blocks">#}
                {#                                Message#}
                {#                                <span class="badge">{{ current_user.num_receive_request() }}</span>#}
                {#                            </a>#}
                {#                        </li>#}
                {#                        <li>#}
                {#                            <a  href="#Blocks-apply" id="blocks-apply-tab" role="tab" data-toggle="tab"#}
                {#                               aria-controls="blocks-apply">#}
                {#                                block Appication#}
                {#                                <span class="badge">{{ current_user.num_sent_request() }}</span>#}
                {#                            </a>#}
                {#                        </li>#}
                {#                    </ul>#}
                {#                </li>#}
             {% if current_user.blockid %}
                <li role="presentation">
                    <a href="#Blocks" id="blocks-tab" role="tab"
                       data-toggle="tab" aria-controls="blocks" aria-expanded="false">
                        Blocks Threads</a>
                    {#                    <a  href="#Blocks-apply" id="block-apply-tab" role="tab" data-toggle="tab"#}
                    {#                       aria-controls="block-apply" aria-expanded="false">Blocks Apply</a>#}
                </li>
                <li role="presentation">
                    <a href="#Blocks-apply" id="block-apply-tab" role="tab" data-toggle="tab"
                       aria-controls="block-apply" aria-expanded="false">Blocks Apply</a>
                </li>
             {% endif %}
            </ul>
            <div class="tab-content">

                <div role="tabpanel" class="tab-pane fade active in" id="Hoods" aria-labelledby="hoods-tab">
                {% if hoods %}
                    {% for hood in hoods %}
                        <a href="{{ url_for('threadview',threadid = hood.id) }}">
                        <div class="row">
                    {{ hood.title }}
                    </div>
                        </a>
                    {% endfor %}
                {% endif %}
                </div>

                <div role="tabpanel" class="tab-pane fade " id="Blocks" aria-labelledby="blocks-tab">
                {% if blocks%}
                    {% for block in blocks %}
                        <a href="{{ url_for('threadview',threadid = block.id) }}">
                       <div class="row">
                    {{ block.title }}
                    </div>
                        </a>
                    {% endfor %}
                 {% endif %}
                </div>

                <div role="tabpanel" class="tab-pane fade " id="Blocks-apply" aria-labelledby="blocks-apply-tab">

                    <div class="row">

                    </div>
                </div>

                {#                <div role="tabpanel" class="tab-pane fade " id="New Thread" aria-labelledby="new-thread-tab">#}
                {##}
                {#                    <div class="row">#}
                {#                        <div id="map">#}
                {#                        </div>#}
                {#                    </div>#}
                {##}
                {#                </div>#}


            </div>
        </div>
    </div>



{% endblock %}

{% block javascript %}
    <script>
        var map;
        var marker;
        var cen = {lat: 40.630243328181834, lng: -73.9698145822461};

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: cen,
                zoom: 13,
            });
            google.maps.event.addListener(map, 'click',
                function (event) {
                    {#placeMarker(event.latLng);#}
                });
            {#placeHoods({{ blocks | safe}});#}

        }

        {#initMap();#}

    </script>

{% endblock %}


